@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap');

:root {
  --font-base: 'Raleway', sans-serif;
  /* Colors */
  --bg-color: #100e1d;
  --card-bg: #1e213a;
  --yellow-color: #ffec65;
  --text-color: #e7e7eb;
  --secondary-color: #a09fb1;
  --gray-color: #88869d;
  --btn-color: #6e707a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
}
